{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "React": true
    },

    "parser": "babel-eslint",

    "plugins": [
        "react"
    ]
}
