{
    "extends": ["mourner", "plugin:react/recommended"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },

    "globals": {
        "React": true
    },

    "rules": {
      "indent": ["error", 2],
      "operator-linebreak": ["error", "before"]
    },

    "parser": "babel-eslint",

    "plugins": [
        "react",
        "jest"
    ]
}
