body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.root {
  touch-action: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  top: -36px;
  left: -18px;
}

.results {
}

.geolocation {
  top: -21px;
  left: -21px;
}

.my-bg-blue {
  background-color: #3a94ff;
}

.my-blue {
  color: #3a94ff;
}

.directions-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.6);
}

.directions-input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.place-info {
  margin-top: 48px!important;
}

.place-image {
  object-fit: cover;
}

.swap-button {
  margin-top: 96px;
}
