body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.marker {
  top: -36px;
  left: -18px;
}

.geolocation {
  top: -21px;
  left: -21px;
}

.my-bg-blue {
  background-color: #3a94ff;
}

.my-blue {
  color: #3a94ff;
}

.directions-location-to {
  margin-top: 120px;
}

.directions-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.6);
}

.directions-input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.sub-menu {
  margin-top: 186px!important;
}

.place-info {
  margin-top: 48px!important;
}

.place-image {
  object-fit: cover;
}

.swap-button {
  margin-top: 96px;
}
